.primary-navigation {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    li {
        padding: 1em;
    }

    a.active {
        text-decoration: none;
        color: inherit;
        pointer-events: none;
    }
}
